
/* 
                                               Estilos Rob         
											                                                             */


/*WELCOME*/

.abajoizquierda{
	position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 1.5em;
  color: red
}
.abajoizquierda:hover{
  font-size: 3em;
  color: #192537;
  transition: 0.5s
}

.patterns {
	height: 100vh;
  }
  
  
  
  svg text {
	font-family: Lora;
	letter-spacing: 10px;
	stroke: #192537;
	font-size: 100px;
	font-weight: 700;
	stroke-width: 3;
   
	animation: textAnimate 5s infinite alternate;
	
  }
  
  @keyframes textAnimate {
	0% {
	  stroke-dasharray: 0 50%;
	  stroke-dashoffset:  20%;
	  fill:hsl(0, 0%, 3%)
  
	}
	
	100% {
	  stroke-dasharray: 50% 0;
	  stroke-dashoffstet: -20%;
	  fill: hsla(189, 68%, 75%,0%)
	}
	
  }

/*FIN WELCOME*/

/*LOGIN*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

::selection {
  background: #fa4299;
  color: #fff;
}
.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title-text {
  display: flex;
  width: 200%;
}
.wrapper .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: #000;
}
#login:checked ~ label.signup {
  color: #000;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus {
  border-color: #192537;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: #b3b3b3;
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #192537;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(
    right,
	#B09E80,
    #192537,
    #B09E80,
    #192537

  );
  border-radius: 5px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
  left: 0;
}
form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

/*FIN LOGIN*/

.rob {
	padding: 2em;
	border: 2em;
	background-color: #E9E9E9;
}

.whats{
	background-color: #192537;
}

.btn {
	border: 0px solid white;
}

.promocion {
	background-color: #B09E80;
}

.detalle2 {
	padding: 1em
}

.detalle {
	padding: 2em;
}

.detalle3 {
	padding: 4em;
}

.boldLetra{
	font-weight: bold;
}

.colorCard{
	background-color: #B09E80;
}
.cardFoto {
	padding: 1em;
	margin-bottom: 20px;
	border: 10px solid #192537;
}

.detallesPro {
	padding: 1em;
	border: 5px solid #192537;
}

.cardInterna {
	color: #192537;
}

.palabra {
	font-family: 'Playfair Display', arial;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: #192537;
}

.productsCards {
	object-fit: contain;
}

.fotoProducto:hover {
	opacity: 0.5;
	border: 10px solid #192537;
}

.carritoNav {
	background-color: #192537;
	margin-right: 0.5em;
	margin-left: 0.5em;
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-right: 0.5em;
}

.carritoNav2 {
	margin-right: 0.5em;
	margin-left: 0.5em;
	padding-left: 0.5em;
	padding-top: 0.5em;
	padding-right: 0.5em;
}

.carritoNavLetra {
	color: #B09E80;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fixUl {
	padding-top: 1em;
}

/*----------------------------------*/
/*CART*/
.containerNuiw {
	width: 400px;
	height: 400px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	padding: 0px;
	/*background: url("https://i.pinimg.com/564x/6f/5a/b1/6f5ab1b470beeeeaf285bb451c63ac8f.jpg");*/
	background-color: black;
	background-position: center; background-repeat : no-repeat;
	background-size : cover; position : relative;
	cursor: pointer;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.overlayNiuw {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 2fr 2fr 1fr;
	background: rgba(77, 77, 77, 0.9);
	color: #fef5df;
	opacity: 0;
	transition: all 0.5s;
	font-family: "Playfair Display", serif;
}

.items {
	padding-left: 20px;
	letter-spacing: 3px;
}

.head {
	font-size: 30px;
	line-height: 40px;
	transform: translateY(40px);
	transition: all 0.7s;
}

.head hr {
	display: block;
	width: 0;
	border: none;
	border-bottom: solid 2px #fef5df;
	position: absolute;
	bottom: 0;
	left: 20px;
	transition: all 0.5s;
}

.price {
	font-size: 22px;
	line-height: 10px;
	font-weight: bold;
	opacity: 0;
	transform: translateY(40px);
	transition: all 0.7s;
}

.price .old {
	text-decoration: line-through;
	color: #b3b3b3;
}

.cart {
	font-size: 12px;
	opacity: 0;
	letter-spacing: 1px;
	font-family: "Lato", sans-serif;
	transform: translateY(40px);
	transition: all 0.7s;
}

.cart i {
	font-size: 16px;
}

.cart span {
	margin-left: 10px;
}

.containerNuiw:hover .overlayNiuw {
	opacity: 1;
}

.containerNuiw:hover .overlayNiuw .head {
	transform: translateY(0px);
}

.containerNuiw:hover .overlayNiuw hr {
	width: 75px;
	transition-delay: 0.4s;
}

.containerNuiw:hover .overlayNiuw .price {
	transform: translateY(0px);
	transition-delay: 0.3s;
	opacity: 1;
}

.containerNuiw:hover .overlayNiuw .cart {
	transform: translateY(0px);
	transition-delay: 0.6s;
	opacity: 1;
}

/*Show cards of product index by poh*/

.carritoVacio{
	height: 25em;
	margin-top: 5em;
}
.cars{
	width: 50%;
	height: 50%;
	font-size: 200;
	margin-bottom: 50px;
	padding-top: 10px;
}
.Mediacards {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.crds {
	background-color: green;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fo {
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 10%;
	margin-right: 10%;
}

/*                                                                  ESTILOS POH                                                       */
/* estilo para el nav*/
.navbar {
	background-color: #192537;
}
/* estilo para el logo del nav*/
.navbar-brand {
	padding-left: 3%;
}
/* estilo para los links del nav*/
.navown {
	text-decoration: none;
	font-weight: 400;
	display: block;
	transform: none;
	margin-bottom: 7px;
	color: #E9E9E9;
}
/* estilo para los links del nav*/
.navown:hover {
	color: #B09E80;
}

.navbar-toggler {
	background-color: #E9E9E9;
}

.navbar-toggler:hover {
	color: #B09E80;
}

/* Nav Dropdowns*/
.dropdownown {
	position: relative;
	display: inline-block;
}

.dropown-content {
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, .8);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .5);
	padding: 12px 16px;
	z-index: 1000;
}

.dropdownown:hover .dropown-content {
	display: block;
}

.dropown-content li {
	text-decoration: none;
}

.footerown {
	background-color: #192537;
	color: #E9E9E9;
	padding: 4em;
}

.navown2 {
	text-decoration: none;
	font-weight: 400;
	display: block;
	transform: none;
	color: #E9E9E9;
}

.navown2:hover {
	color: #B09E80;
	text-decoration: underline;
}

.parrafos {
	font-family: 'Playfair Display', arial;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: rgba(248, 247, 247, 0.637);
}

.titulos {
	font-family: 'Montserrat Light', arial;
	margin-bottom: 10px;
	color: #E9E9E9;
	font-weight: bold;
	text-transform: uppercase;
}

.copyright {
	padding: 0;
	margin: 0;
}

/*Li de flexslider*/
.liflex {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 500px;
	height: 100%;
	width: 100%;
}
.liflex2 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 400px;
	height: 100%;
	width: 100%;
}

#flexcontainer  .flexslider {
	border: none;
	z-index: 1;
	margin-bottom: 0;
}

.precio {
	font-size: 14px;
	letter-spacing: 3px;
	display: block;
	margin-bottom: 20px;
}

.cont-flex {
	background: rgba(255, 255, 255, 0.8);
	padding: 40px;
}

.cont-flex:hover {
	background: rgb(255, 255, 255);
}

#flexcontainer  .flexslider .flex-direction-nav {
	display: none;
}

#flexcontainer  .flexslider .text-slider {
	display: table;
	min-height: 700px;
}

#flexcontainer .flexslider .text-slider>.text-slider2 {
	display: table-cell;
	vertical-align: middle;
}

@media screen and (max-width: 768px) {
	#flexcontainer .flexslider .text-slider>.text-slider2 {
		padding-bottom: 150px;
	}
}
/*botones dorado*/
.buttonown {
	border: none;
	padding: 16px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.goldbutton {
	background-color: white;
	color: #B09E80;
	border: 2px solid #B09E80;
}

.goldbutton:hover {
	background-color: #B09E80;
	color: white;
	border: 2px solid #B09E80;
}
.bluebutton {
	background-color: #192537;
	color: white;
	border: 2px solid white;
}

.bluebutton:hover {
	background-color: #192537;
	color: #B09E80;
	border: 2px solid #B09E80;
}
.goldbutton2 {
	background-color: #B09E80;
	color: white;
	border: 2px solid #B09E80;
}

.goldbutton2:hover {
	background-color: #B09E80;
	color: #192537;
	border: 2px solid #B09E80;
}

.header-products {
	padding-bottom: 3em;
}