    <div xmlns:th="http://www.thymeleaf.org">

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col col-lg-12">
                                <div class="text-center">
                                    <p class="fs-2">Registro de ventas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container rob">
                        <div class="row justify-content-md-center">
                            <div class="col col-lg-12">
                                <table class=" table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Usuario</th>
                                            <th scope="col">Correlativo</th>
                                            <th scope="col">Precio</th>
                                            <th scope="col">Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="listaOrdenCompra, row:${listaOrdenCompra}">
                                            <tr>
                                                <th th:text="${listaOrdenCompra.id_orden_compra}" />
                                                <th th:text="${listaOrdenCompra.fecha}" />
                                                <th th:text="${listaOrdenCompra.userlog}" />
                                                <th th:text="${listaOrdenCompra.correlativo}" />
                                                <th th:text="${listaOrdenCompra.total_money}" />
                                                <th th:text="${listaOrdenCompra.status}" />
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-md-center">
                    <label>Total de dinero: <p th:text="${totalDin}"></p></label>
                    
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>