<header xmlns:th="http://www.thymeleaf.org">
       <!--NAVBAR-->
	<nav class=" navbar navbar-default navbar-expand-md navbar-light ms-a"
		style="background-color: #192537;">
		<div class="container-fluid">
			<a class="navbar-brand ps-lg-5 ps-md-5 ps-sm-5" href="/index"><img
				src="img/woodMeister.png"></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse " id="navbarNavAltMarkup">
				<ul class="navbar-nav ms-auto pe-5">
					<li class="dropdownown "><a class="navown px-2 " href="/product">PRODUCTS</a>
						<div class="dropown-content">
							<div>
								<a class="navown" href="/product">Night Desk</a>
							</div>
							<div>
								<a class="navown" href="/product">Tables</a>
							</div>
							<div>
								<a class="navown" href="/product">WorkBench</a>
							</div>
						</div></li>
					<li><a class="navown px-2" href="/about">ABOUT US</a></li>
					<li><a class="navown px-2" href="#">ORDERS</a></li>
					<li><a class="navown px-2" href="/login">SING IN</a></li>
					<li><a class="navown px-2" href="/carrito">SHOP<i
							class="fas fa-shopping-cart ps-2"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
    </header>